#Welcome {color: black	
				}
header {background-image: url("../img/Joker612.jpg");}
footer {background-image: url("../img/banner2.jpg");}
/*--------------------------------------------------------*/
body {
	/*font-size: 12px;*/
	font-family: Verdana, serif;
	color: #936B09;
	background-size: cover;

	 }

p{
	color: #936B09;
	font-family: Verdana, serif;
	font-size: .7em;
	width: 600px;
	margin: 30 auto;
}
/*--------------------------------------------------------*/
h1 {
    position: center;
    /*left: 200px;
    top: 20px;*/
    font-size: 20px;
}
/*--------------------------------------------------------*/
a:link{
	text-decoration: red;
}
/*--------------------------------------------------------*/
a:hover {
	color: blue;
}
/*--------------------------------------------------------*/
a:visited {
	color: yellow;
}
/*--------------------------------------------------------*/
.list-group{
	position: fixed;
	top: 200px
}
/*---------------------------------------------------------*/
.list-group-item{
	display: block;

}
/*---------------------------------------------------------*/
.footer {
	background-image:url('../img/Joker612.jpg');
	background-size: cover; 
	border-image:url('../img/Joker612.jpg');
	position: center;
    font-size: 40px;
}
	
/*--------------------------------------------------------*/

.joking {
	width: 100%;
	height: 575px;
	background: url('../img/Joker612.jpg'); no-repeat;
	background-size: cover;
	background-position: center;
	background-clip: 100px
	background-origin:fill-box;
}
/*--------------------------------------------------------*/
.center {
	text-align: center;
}
/*--------------------------------------------------------*/
.justify {
    text-align: justify;
    text-justify: inter-word;
}
/*--------------------------------------------------------*/
.left {
	text-align: left;
}
/*--------------------------------------------------------*/
.container {
	border: 2px solid blue; 
	background-color: #E119B9;
	color: green;
	text-align: center;
}
/*--------------------------------------------------------*/
.box {
	position: absolute;
		left: 12%;	
}
/*--------------------------------------------------------*/
.hidden{display: none;}
/*--------------------------------------------------------*/
/*p.small {
    font-variant: small-caps;
}*/
/*--------------------------------------------------------*/
.navbar {padding: 50px 12;
		border-bottom: 100px;
		letter-spacing: 15px;
		background: 0 0;
}