#Welcome 

header {background-color: black;}
/*footer {background-color: clear;}*/
/*--------------------------------------------------------*/
body {	
	background-image: url("../img/joker.jpg");
	background-size: center;
	font-family: Verdana, sans-serif;
	color: gold;
	font-size: 12pt
	
	 }

/*--------------------------------------------------------*/
h1 {
	/*position: relative;*/
    font-size: 30pt;
    font-family: Verdana;
    /*padding-left: 300px;*/
   }
/*--------------------------------------------------------*/
a:link{
	color: gold;
}
a:hover {
	color: gold;
}
a:visited {
	color: gold;
}
a:active {
    color: gold;
}
/*--------------------------------------------------------*/
.list-group{
	float: left;
	padding-top: 100px;
	padding-left: 20px;

}
/*---------------------------------------------------------*/
.list-group-item{
	display:block;
	font-size: 15pt;
	text-shadow: 0px 9px 7px blue;
}

/*--------------------------------------------------------*/

.joking {
	width: 100%;
	height: 500px;
	/*background: url('../img/Joker612.jpg');*/
	background-size: cover;
	background-position: center;
}
/*--------------------------------------------------------*/
.center {
	text-align: center;
}
/*--------------------------------------------------------*/
.justify {
    text-align: justify;
    text-justify: inter-word;
}
/*--------------------------------------------------------*/
.left {
	text-align: left;
}
/*--------------------------------------------------------*/
.right{
	text-align: right;
}

/*--------------------------------------------------------*/
div.scroll {
    background-color: black;
    width: 300px;
    height: 100px;
    overflow: scroll;
}
/*********************************************************/
#box1 {
	position: absolute;
		left: 13%;
		top: 13%;	
}
#box2 {
	position: fixed;
		left: 13%;
		top: 13%;		
}
#box3 {
	position: relative;
		left: 13%;
		top: 13%;	
}
#box4 {
	position: relative;
		left: 13%;
		top: 13%;		
}
#box5 {
	position: relative;
		left: 13%;
		top: 13%;		
}
#box6 {
	position: relative;
		left: 13%;
		top: 13%;		
}
/*--------------------------------------------------------*/
p {
	position: relative;
	top: 13%
	left: 13%;
}
/*--------------------------------------------------------*/
.hidden{display: none;}
/*--------------------------------------------------------*/
.navbar {padding: 15px 20;
		border-bottom: 100px;
		letter-spacing: 15px;
		background: 0 0;
}
/*--------------------------------------------------------*/
#background {
    position: fill;
    height: 100%;
    width:  100%;
}
/***********************************************************/
#contentFooter {
    position: fill;
    width: fill;
}
/***************************************************************/

/*********************************************************/
h4{
    position: relative;
    color: gold;
    font-size: 12pt;
    font-family: Verdana;
    padding-left: 500px;
    padding-top: 10px
   }
/*********************************************************/
/*.footer {*/
	/*width: fill;
	height: fill;*/
	/*height: 71px;*/
	/*font-family: Verdana, serif;
	color: black;
	font-size: 12pt*/;
}


/*p {
height: 100%
width: 100%
padding:5px
margin: 5px

}*/
/************************************************************/
/*.mySpan
span#mySpan {
	display:block;*/
/*********************************************************/
/*.footer {
	width: fill;
	height: fill;
	font-type: Verdana, serif;
	color: black;
	font-size: 12pt*/
	/*background: url('../img/banner3.jpg');
	}