#Welcome {color: black	
				}
header {background-image: url("../img/banner3.jpg");}
footer {background-image: url("../img/banner3.jpg");}
/*--------------------------------------------------------*/
body {
	/*font-size: 12px;*/
	font-family: Verdana, serif;
	color: white;
	font-size: 12pt


	 }

p{
	color: #red;
	font-family: Verdana, serif;
	font-size: .7em;
	width: 600px;
	margin: 30 auto;
}
/*--------------------------------------------------------*/
h1 {
    /*position: center;*/
    font-size: 2em;
    font-family: Verdana;
   }
/*--------------------------------------------------------*/
.headersize{
	position: center;
    font-size: .7em;
    padding: 300px
}
/*--------------------------------------------------------*/
a:link{
	text-decoration: red;
}
/*--------------------------------------------------------*/
a:hover {
	color: blue;
}
/*--------------------------------------------------------*/
a:visited {
	color: yellow;
}
/*--------------------------------------------------------*/
.list-group{
	position: fixed;
	top: 200px;
	padding-left: 33px;
}
/*---------------------------------------------------------*/
.list-group-item{
	display: block;

}
/*---------------------------------------------------------*/
.footer {
	font-family: Arial;
	font-size: 1.0em;
}
	
/*--------------------------------------------------------*/

.joking {
	width: 100%;
	height: 575px;
	background: url('../img/Joker612.jpg'); no-repeat;
	background-size: cover;
	background-position: left;
	background-clip: 100px
	background-origin: fill;
}
/*--------------------------------------------------------*/
.center {
	text-align: center;
}
/*--------------------------------------------------------*/
.justify {
    text-align: justify;
    text-justify: inter-word;
}
/*--------------------------------------------------------*/
.left {
	text-align: left;
}
/*--------------------------------------------------------*/
.container {
	border: 2px solid white; 
	background-color: white;
	color: green;
	text-align: center;
}
/*--------------------------------------------------------*/
.box {
	position: fixed;
		left: 12%;	
}
/*--------------------------------------------------------*/
.hidden{display: none;}

/*--------------------------------------------------------*/
.navbar {padding: 15px 20;
		border-bottom: 100px;
		letter-spacing: 15px;
		background: 0 0;
}
/*--------------------------------------------------------*/
.fa-border {
padding: .2em .25em .15em;
border: solid 0.08em blue;
border-radius: .1em;
}