/*#Welcome {color: blue	
				}*/
header {background-image: url("../img/banner2.jpg");}
footer {background-image: url("../img/banner3.jpg");}
/*--------------------------------------------------------*/
body {	
	<b>
	font-type: Edwardian Script ITC, sans-serif;
	color: white;
	font-size: 12pt
	</b>
	 }

/*--------------------------------------------------------*/
h1 {
    position: left;
    font-size: 30pt;
    font-family: Edwardian Script ITC;
    padding-left: 400px;
    padding-top: 10px
   }
/*--------------------------------------------------------*/
a:link{
	color: yellow;
}
a:hover {
	color: blue;
}
a:visited {
	color: yellow;
}
a:active {
    color: yellow;
}
/*--------------------------------------------------------*/
.list-group{
	position: fixed;
	top: 175px;
	padding-left: 25px;
}
/*---------------------------------------------------------*/
.list-group-item{
	display:block;
	font-size: 16pt;
}
/*---------------------------------------------------------*/
.footer {
	font-family: calibri;
	font-size: 10px;
	padding-left: 600px;
}
	
/*--------------------------------------------------------*/

.joking {
	width: 100%;
	height: 575px;
	background: url('../img/Joker612.jpg');
	background-size: cover;
	background-position: center;
	/*background-clip: 200px*/
	
}
/*--------------------------------------------------------*/
.center {
	text-align: center;
}
/*--------------------------------------------------------*/
.justify {
    text-align: justify;
    text-justify: inter-word;
}
/*--------------------------------------------------------*/
.left {
	text-align: left;
}
/*--------------------------------------------------------*/
/*.container {
	border: 2px solid white; 
	background-color: white;
	color: green;
	text-align: center;
}*/
/*--------------------------------------------------------*/
.box {
	position: fixed;
		left: 12%;
		top: 12%;	
}

.box2 {
	position: fixed;
		left: 12%;
		top: 12%;	
}
.box6 {
	position: fixed;
		left: 12%;
		top: 12%;	
}
.box7 {
	position: fixed;
		left: 12%;
		top: 12%;	
}
/*--------------------------------------------------------*/
.hidden{display: none;}

/*--------------------------------------------------------*/
.navbar {padding: 15px 20;
		border-bottom: 100px;
		letter-spacing: 15px;
		background: 0 0;
}
/*--------------------------------------------------------*/
#background {
    position: fixed;
    height: 100%;
    width:  100%;
}
/***********************************************************/
#contentFooter {
    position: absolute;
    width:  100%;
    bottom:  0px;
}
/***************************************************************/
.boxy{
	height: 300px
	width: 400px
	background-color:white;
}

p {
height: 75%
width: 75%
padding:5px
margin: 5px

}
/************************************************************/
.mySpan
span#mySpan {
	display:block;
} 	