body {font-size: 22px;
	  font-family: Arial, sans-serif;
	  color:black;
	  background-image: url("../img/Joker5.jpg");
	  background-size: cover;
	  background-position: left;
	  
	  }

p{
	color: red;
	font-family: Arial, serif;
	size: 18px;
	width: 600px;
	margin: 0 auto;
	border: 2px solid black;
}



ul{
	list-style: none;
	display: inline;

}

ul li{
	display: inline;

}


a:link{
	text-decoration: none;
}

a:hover {
	color: #1E1B1B;
}

a:visited {
	color: #FFFFFF;
}



footer {
	background-color: #red;
}

section{
	width: 100%;
	height: 550px;
	background: url('F:\devlop/assets2/img/joker.jpg') no-repeat fill;
	background-size: cover;
}

section h1 {
	text-align: center;
}

.container {
	border: 2px solid blue; 
	background-color: #E119B9;
	color: green;
	text-align: center;
}
/*check color scheme 
